<section id="hero" class="main font-weight-bold header-section d-flex align-items-center bg-dark text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-10 mx-auto mt-3 text-center">
                <h1 class="text-uppercase mb-4 font-weight-bold">Welcome to Pradhan Residence</h1>
                <p class="text-lg">Let's get started</p>
                <button (click)="goToPage('form', $event)"
                    class="btn btn_get_started btn-outline-light btn-outline-warning">
                    Get Started
                </button>

            </div>
        </div>
    </div>
</section>
<section class="header-extradiv" id="link" id="ScrollserviceId">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <h1 class="text-center animate__animated animate__fadeInLeft">Our <span
                        class="hostel-text">Hostel</span> can offer</h1>
            </div>
            <div class="extra-div col-lg-4 col-md-4 col-12 text-justify">
                <a href="#">
                    <i class="fas fa-bed fa-3x" aria-hidden="true"></i>
                </a>
                <h2 class="text-uppercase"><strong>accommodation</strong></h2>
                <p>
                    Well-furnished rooms for both girls and boys. Bedding, study tables, and storage facilities in each
                    room.
                </p>
                <button class="btn btn-sm btn-warning">Click here</button>
            </div>
            <div class="extra-div col-lg-4 col-md-4 col-12 text-justify">
                <a href="#">
                    <i class="fas fa-utensils fa-3x" aria-hidden="true"></i>
                </a>
                <h2 class="text-uppercase"><strong>Meals</strong></h2>
                <p>Mess or kitchen facilities providing nutritious and hygienic meals</p>
                <button class="btn btn-sm btn-warning">Click here</button>
            </div>
            <div class="extra-div col-lg-4 col-md-4 col-12 text-justify">
                <a href="#">
                    <i class="fas fa-wifi fa-3x" aria-hidden="true"></i>
                </a>
                <h2 class="text-uppercase"><strong>wi-fi</strong></h2>
                <p>High-speed internet connectivity for study and leisure.</p>
                <button class="btn btn-sm btn-warning">Click here</button>
            </div>
            <div class="extra-div col-lg-4 col-md-4 col-12 text-justify">
                <a href="#">
                    <i class="fas fa-shopping-basket fa-3x" aria-hidden="true"></i>
                </a>
                <h2 class="text-uppercase"><strong>canteen</strong></h2>
                <p>
                    On-site canteen offering nutritious and affordable meals. Variety in food options catering to
                    different preferences.
                </p>
                <button class="btn btn-sm btn-warning">Click here</button>
            </div>
            <div class="extra-div col-lg-4 col-md-4 col-12 text-justify">
                <a href="#">
                    <i class="fas fa-map-marker-alt fa-3x" aria-hidden="true"></i>
                </a>
                <h2 class="text-uppercase"><strong>great location</strong></h2>
                <p>
                    Proximity to the college campus for easy access to classes. Convenient transportation options.
                </p>
                <button class="btn btn-sm btn-warning">Click here</button>
            </div>
            <div class="extra-div col-lg-4 col-md-4 col-12 text-justify">
                <a href="#">
                    <i class="fas fa-lock fa-3x" aria-hidden="true"></i>
                </a>
                <h2 class="text-uppercase"><strong>Security</strong></h2>
                <p>24/7 security to ensure the safety of residents. CCTV surveillance in common areas.</p>
                <button class="btn btn-sm btn-warning">Click here</button>
            </div>
            <div class="extra-div col-lg-4 col-md-4 col-12 text-justify">
                <a href="#">
                    <i class="fas fa-book fa-3x" aria-hidden="true"></i>
                </a>
                <h2 class="text-uppercase"><strong>Study Spaces</strong></h2>
                <p>Quiet study rooms or spaces for academic focus.</p>
                <button class="btn btn-sm btn-warning">Click here</button>
            </div>
            <div class="extra-div col-lg-4 col-md-4 col-12 text-justify">
                <a href="#">
                    <i class="fas fa-broom fa-3x" aria-hidden="true"></i>
                </a>
                <h2 class="text-uppercase"><strong>Cleaning Services</strong></h2>
                <p>Regular cleaning and maintenance services</p>
                <button class="btn btn-sm btn-warning">Click here</button>
            </div>
            <div class="extra-div col-lg-4 col-md-4 col-12 text-justify">
                <a href="#">
                    <i class="fas fa-key fa-3x" aria-hidden="true"></i>
                </a>
                <h2 class="text-uppercase"><strong>Guest Policy</strong></h2>
                <p>Policies regarding guest visits and accommodations.</p>
                <button class="btn btn-sm btn-warning">Click here</button>
            </div>

            <div class="extra-div col-lg-4 col-md-4 col-12 text-justify">
                <a href="#">
                    <i class="fas fa-heart fa-3x" aria-hidden="true"></i>
                </a>
                <h2 class="text-uppercase"><strong>Counseling Services</strong></h2>
                <p>Access to counseling services for mental well-being.</p>
                <button class="btn btn-sm btn-warning">Click here</button>
            </div>
            <div class="extra-div col-lg-4 col-md-4 col-12 text-justify">
                <a href="#">
                    <i class="fas fa-file-signature fa-3x" aria-hidden="true"></i>
                </a>
                <h2 class="text-uppercase"><strong>Transparent Rental Agreement</strong></h2>
                <p>
                    Clear and transparent rental agreements with details on rent, deposits, and house rules.
                </p>
                <button class="btn btn-sm btn-warning">Click here</button>
            </div>
            <div class="extra-div col-lg-4 col-md-4 col-12 text-justify">
                <a href="#">
                    <i class="fas fa-gavel fa-3x" aria-hidden="true"></i>
                </a>
                <h2 class="text-uppercase"><strong>Rules and Regulations</strong></h2>
                <p>Clearly communicated rules and regulations for a harmonious living environment.</p>
                <button class="btn btn-sm btn-warning">Click here</button>
            </div>
        </div>
    </div>
</section>